* {
    font-family: sans-serif;
    margin: 0;
    padding: 0; }

@import './sections/header';
@import './sections/principal';
@import './sections/shop';
@import './sections/footer';
@import './sections/contacto';
@import './sections/navegador';

  body {
    background-color: #f9dab1; }

    
  @media (min-width: 425px) {
    .main__historia__imagenes {
      display: flex;
      width: 380px;
      height: 200px;
      padding: 10px; 
      align-items: center;
    }

    .main__tutorial__imagenprincipal {
      display: flex;
      width: 425px; } 

    .input-form{
        display: flex;
        height: 25px;
        width: 300px;
        padding: 0px;
      }

    .formulario-contacto{
        padding: 0px 30px;
    }

    .main-contacto {
        height: 800px;
        padding: 0px 5px; }}
        
  @media (min-width: 768px) {
    .main__rutas {
      width: 300px; }
    .pop-up-index img {
      width: 300px; }
    .main__historia__frase{
        width: 60%;
      }
    .main-index .frase-main {
      background-color: antiquewhite;
      width: 768px;
      margin-bottom: 0px; }
    .pop-up-index h2 {
      background-color: #673e0f;
      /*   text-align: center;*/
      color: #ebdac4;
      display: flex;
      font-size: 20px;
      justify-content: center;
      width: 300px; }
    .main__historia__imagenes {
      display: flex;
      width: 480px;
      height: 300px;
      padding: 10px; }
    .main__tutorial {
      padding: 0px 100px 0px 30px; }
    .historia-cafe {
      padding: 0px 100px 0px 30px; } 

      .input-form{
        display: flex;
        height: 25px;
        width: 400px;
        padding: 0px;
      }

    .formulario-contacto{
        padding: 0px 80px;
    }

    .main-contacto {
        height: 800px;
        padding: 0px 5px; }

       .navbar{
            width: 80%;
            .navbar-collapse{
                width: 80%;
                display: flex;
                justify-content: flex-end;
            }   
    }    
    }

@media (min-width: 1024px) {
    .main-index .frase-main {
        background-color: antiquewhite;
        width: 768px;
        margin: 0px 0px 0px 40px;
        margin-bottom: 0px; }
        .main__historia__frase{
          width: 40%;
        }

}