  /*Detalles*/


  .navegador li:hover {
    background-color: #bd9766;
  }

  .main__rutas h2:hover {
    background-color: #bd9766;
    color: black;
  }

  .header nav {
    background-color: #7e5a2b;

  }

  .nav-link {
    color: aliceblue;

  }
  .navbar-collapse{
    display: flex;
    justify-content: flex-end;
  }