.main-contacto {
  height: 800px;
  padding: 0px 40px;
}

.main__historia {
  margin: 10px;
  padding: 10px;
  .main__historia__divisor{
    background-image: url(../recursos/cafe-largo.jpg);
    height: 120px;
  }
  .main__historia__frase{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.main__historia__imagenes {
  display: flex;
  width: 70%;
  height: 200px;
  padding: 25px 0px;
}

.main-index .frase-main {
  background-color: antiquewhite;
  /*width: 425px;*/
  margin-bottom: 0px;
}

.section-main-index {
  background-color: #bab7b3;
  background-image: url("../recursos/cafe-largo.jpg");
  /*  background-size: 1550px;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 1.5s;
}

.main-index li {
  list-style-type: none;
  width: 100%;
  padding: 0px 10px;
}

.main-index a {
  color: aliceblue;
  text-decoration: none;
  font-family: sans-serif;
  padding: 5px;
}

.frase-main-principal {
  list-style-type: none;
  font-size: 35px;
  font-family: cursive;
}

.frase-main-dos {
  list-style-type: none;
  font-size: 20px;
  font-family: sans-serif;
}

.pop-up-index {
  padding: 10px 10px;
  width: 100%;
}

.pop-up-index img {
  width: 100%;
  height: 160px;
  /* border-radius: 50%;*/
}

.pop-up-index h2 {
  background-color: #673e0f;
  /*   text-align: center;*/
  color: antiquewhite;
  display: flex;
  font-size: 20px;
  justify-content: center;
}

.rutas-index {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 10px 10px;
}

.main__tutorial__imagensecundaria {
  display: flex;
  padding: 10px;
}

.main__tutorial h1 {
  font-family: cursive;
}


.main__shop h2 {
  background-color: antiquewhite;
}

.main__tutorial__imagenprincipal {
  display: flex;
  width: 100%;
}

.main__tutorial {
  padding: 0px 10px 30px 10px;
  margin: 10px;
}

.main__tutorial section {
  padding: 10px 0px;
}

.main__tutorial__lista {
  padding: 0px 10px;
  a{
    color: rgb(116, 86, 48);
  }
  li{
    padding: 5px;
  }
}

.main__tutorial__section p {
  padding: 10px 0;
}

.main__tutorial__section h2 {
  padding: 10px 0;
}

.main {
  background-color: #f9dab1;
}

.historia-cafe {
  padding: 0px 5px 0px 5px; 
  display: flex;
  flex-direction: column;
  .historia__secciones{
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}