  /*shop*/
  .shop-section-art {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 35px 10px; }
  
  .shop-caps {
    background-color: white;
    width: 200px;
    text-align: center;
    padding: 5px 5px 15px 5px;
    margin: 5px; }
  
  .shop-caps img {
    width: 100px;
    height: 120px; }
  
  .main__shop {
    padding: 10px 10px 40px 10px; }
  
  .main__shop h2 {
    padding: 0px 10px 0px 50px; }
  
  .main__shop h1 {
    padding: 0px 10px 0px 30px; 
    font-family: cursive; }
  
